﻿@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="mb-3">
        <label class="form-label">Json Value</label>
        <textarea class="form-control" id="txtJsonValues" rows="3"></textarea>
    </div>

    <button type="button" class="btn btn-primary" id="btnSubmit" onclick="btnSubmitClicked();`">Submit</button>
</form>